* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    background-color: #021027;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100vh;
    margin: 0;

}

.background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    
  }

    /* ================= Header ============ */
    header{
        position: absolute;
        top:0%;
        left: 0%;
        width:100%;
        margin: 0;
        padding: 0;
      }
    
       /* navbar */
       nav{
        color: #FFF;
        float: right;
        margin:30px 90px;
      }
      nav ul{
        list-style: none;
        font-family: "Josefin Slab", serif;
      }
      nav ul li {
        float: left;
        transition: .3s;
      }
      nav ul li a{
        text-decoration: none;
        color: white;
        transition: .5;
        font-size: 15px;
        margin-left:16px;
      }
      nav ul li:hover a{
        text-decoration: none;
        color: #591BC5;;
      }
      nav ul li:hover{
        height: 45px;
        padding-top: 30px;
        margin-top: -30px;
       background: white;
        text-decoration: none;
        transform: skew(15deg);
      }
    
      
      ul {
        list-style: none;
        font-size: 12.5%;
      }
      
      a {
        text-decoration: none;
      }
      
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    

 /* Custom Dot Cursor */

 .header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 2px;
    background-color: #52a3b6;
    transform: translateX(-50%);
  }
  
  
  @media (min-width: 800px) {
    .col {
      width: 50%;
      float: left;
   }
    .col:nth-of-type(2n+1) {
      clear: left;
   }
  }
  .col.col--full {
    width: 100%;
  }
  html, body, html *, body * {
    cursor: none;
  }
  .cursor-dot, .cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .cursor-dot {
    width: 8px;
    height: 8px;
    background-color: #52a3b6;
  }
  .cursor-dot-outline {
    width: 40px;
    height: 40px;
    background-color: rgba(125, 186, 200, 0.5);
  }


  /* Audio Visualizer */


   visualizer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 900px;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    
  }
  
  .oscilloscope, .frequency, .circular {
    flex: 1;
    background: #021027; /* Hintergrund auf transparent gesetzt */
    border: 5px solid #021027;
    border-radius: 4px;
    box-shadow: 0 0 20px #00ffff;
    position: relative;
    backdrop-filter: blur(10px);
  }
  
  
  #oscilloscopeCanvas, #frequencyCanvas, #circularCanvas {
    width: 100%;
    height: 100%;
    display: wave;
  }


  /* Music Player */

   html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
  }
  
  #typing { 
    display: flex;   
    overflow: hidden;   
  }
  
  #typing::before {
    background: #021027;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: transform 0.3s ease;
  }
  
  #content {
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
  }
  
  #content:hover {
    transform: scale(1.1);
  }
  
  .audioBox {
    display: flex;
    justify-content: bottom;
    align-items: bottom;
    flex-direction: column;
    width: 50%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translate(0, -50%);
    max-width: 450px;
  }
  
  #snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
  }
  
  .snowflake {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
  }
  
  #audioPlayerContainer {
    position: relative;
    bottom: -200px;
    opacity: 1;
    z-index: 1000;
  }
  
  #audioPlayerControl {
    position: relative;
    background-color: #021027;
    border-radius: 30px;
    width: 300px;
    height: 50px;
    box-shadow: 0 0 20px rgba(107, 107, 107, 0.5);
    z-index: 1000;
  }
  
  #progressBarContainer {
    position: absolute;
    top: 45%;
    left: 15%;
    width: 70%;
    height: 5px;
    background: linear-gradient(
      to right,
      cyan var(--progress, 0%),
      #ddd var(--progress, 0%)
    );
    border-radius: 5px;
    cursor: pointer;
  }
  
  #progressBarContainer::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 20px;
    transform: translateY(-50%);
    background-color: transparent;
  }
  
  #progressBar {
    position: relative;
    width: 0;
    height: 100%;
    border-radius: 5px;
  }
  
  #progressBar::after {
    content: "";
    position: absolute;
    right: -7.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: cyan;
    box-shadow: 0 1px 10px rgba(107, 107, 107, 0.5);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  #progressBarContainer:hover #progressBar::after {
    opacity: 1;
  }
  
  #volumeControlContainer {
    position: absolute;
    transition: transform 0.5s ease-in-out;
    z-index: 0;
  }
  
  #volumeControl {
    width: 50px;
  }
  
  #volumeIcon {
    position: relative;
    left: 216px;
  }
  
  /* Hide the default style of the range control */
  [type="range"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    outline: 0;
    background-color: transparent;
    width: 500px;
  }
  
  /* Defines the style of the range control track */
  [type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 5px;
    background: #ffffff;
  }
  
  /* Defines the style of the range control thumb */
  [type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: cyan;
    margin-top: -5px;
  }
  

